.row:after,
.clearfix:after{
	content:'';
	display:table;
	clear:both;
}
html,body{
	height: 100%;
}
body{
	min-width: 320px;
	font: 16px/20px Roboto, Arial, Helvetica, sans-serif;
	color: #000;
	background: #fff;
	margin: 0;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust:none;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
p{
	margin: 0 0 10px;
}
p:last-child{
	margin: 0;
}
ol,
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
ol{counter-reset:section;}
ol>li{
	counter-increment:section;
	position:relative;
}
ol>li:before{
	float:left;
	vertical-align:top;
	content:"" counter(section) " -";
	padding:0 3px 0 0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img{
	vertical-align:top;
	border-style:none;
	max-width: 100%;
	height: auto;
}
a{
	color: #0f67f4;
	text-decoration: none;
	transition: all 0.2s ease;
}
a:hover{
	text-decoration: underline;
}
input[type=text], input[type=submit], input[type=button],
input[type=password], input[type=file], textarea{
	-webkit-appearance:none;
}
input[type="number"]{
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button{
	display: none;
}
button,
input,
textarea,
select{
	font:100% Roboto, Arial, Helvetica, sans-serif;
	color:#343f52;
	outline:none;
}
::-moz-placeholder{
	color: #999;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #999;
}
::-webkit-input-placeholder {
	color: #999;
}
input[type="number"]{
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner{
	padding:0;
	border:0;
}
/* container */
.container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
	.container {
		width: 738px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.row {
	display: -ms-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.col{
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	padding: 15px;
}

#main{
	padding: 70px 0 100px;
}
h1{
	margin: 0 0 10px;
	font-size: 36px;
	line-height: 40px;
}
.box{
	padding: 15px;
	border: 1px solid #ccc;
	font-size: 14px;
	line-height: 18px;
}
.box .image{
	display: -ms-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	margin: 0 0 15px;
}
.box .image img{
	max-height: 100%;
}
.box h2{
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 10px;
}
.box .author{
	display: block;
	margin: 0 0 10px;
}

/* media queries */
@media(max-width: 1199px){
	#main{
		padding: 40px 0 50px;
	}
}
@media(max-width: 991px){
	h1{
		text-align: center;
	}
    .col{
		-ms-flex: 0 0 242px;
		flex: 0 0 242px;
    }
}
@media(max-width: 767px){
    .col{
        -ms-flex: 0 0 235px;
        flex: 0 0 235px;
    }
}
@media(max-width: 480px){
	#main {
		padding: 40px 0 20px;
	}
	.row{
		margin: 0;
        justify-content: center;
	}
	.col{
		padding: 15px 0;
        -ms-flex: 0 0 260px;
        flex: 0 0 260px;
	}
}